:root {
  --primary-brown: #452d2d;
  --primary-white: #ffffff;
  --primary-pink: #f799ae;
}

.App {
  text-align: center;
}

nav {
  background-color: var(--primary-brown);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 2rem;
}
header {
  padding: 1em;
}

.logo {
  font-family: "Berkshire Swash", cursive;
  font-weight: bold;
  padding: 0.5rem;
  color: white;
}

.lg {
  font-size: 4rem;
}

.navlink {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  background-color: #9d7172;
  border-radius: 5px 5px 0 0;
  padding: 0.5rem 1rem;
  margin: 0 3px;
  color: #fbf1f1;
  text-decoration: none;
  position: relative;
  bottom: 0.5rem;
  right: 0;
}

a.activeLink {
  background-color: var(--primary-pink);
  color: #452d2d;
}

.logout {
  background-color: #1f1a1a;
}

.navlink:hover {
  background-color: var(--primary-pink);
  color: #452d2d;
}

.nav-colorband {
  background-color: var(--primary-pink);
  padding: 1rem;
}

fieldset {
  border: none;
}

.center {
  text-align: center;
}

.card_container {
  display: flex;
  justify-content: space-evenly;
}
.card {
  display: flex;
  background-color: #e8e8e8;
  padding: 1em;
  border-radius: 0.5em;
  flex: 0 0 20%;
  margin: 1em;
  min-width: 125px;
}

.horz {
  flex-flow: row wrap;
}

.vert {
  flex-flow: column nowrap;
  text-align: center;
}

.img_container {
  padding: 10px;
  background-color: white;
}
.card img {
  max-width: 300px;
  min-width: 75px;
  width: 100%;
}

button {
  border-style: none;
  background-color: var(--primary-pink);
  color: var(--primary-white);
  font-size: 1rem;
  font-weight: bold;
}
