.App {
  text-align: center;
}

nav {
  background-color: #452d2d;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 2rem;
}

.logo {
  font-family: fantasy;
  font-weight: bold;
  padding: 0.5rem;
  color: white;
}

.lg {
  font-size: 4rem;
}

.navlink {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  background-color: #9d7172;
  border-radius: 5px 5px 0 0;
  padding: 0.5rem 1rem;
  margin: 0 3px;
  color: #fbf1f1;
  text-decoration: none;
  position: relative;
  bottom: 0.5rem;
  right: 0;
}

a.activeLink {
  background-color: #f799ae;
  color: #452d2d;
}

.logout {
  background-color: #1f1a1a;
}

.navlink:hover {
  background-color: #f799ae;
  color: #452d2d;
}

.nav-colorband {
  background-color: #f799ae;
  padding: 1rem;
}

fieldset {
  border: none;
}

.center {
  text-align: center;
}
